<%- contentFor('body') %>
<h3 style="margin: 20px 10% 20px 10%; font-size: 1.6em">정보 새로고침 주기: 10초</h3>
<section class="status_viewer">
  <p style="font-weight: bold; font-size: 1.3em; margin: 0.1em 0;">CPU,RAM 사용량</p>
</section>
<section class="status_viewer">
  <p style="font-weight: bold; font-size: 1.3em; margin: 0.1em 0;">GPU 사용량</p>
</section>
<section class="status_viewer">
  <p style="font-weight: bold; font-size: 1.3em; margin: 0.1em 0;">GPU 사용신청</p>
</section>