<%- contentFor('body') %>
<form method="post" action="/login">
    <table>
        <tr>
            <td><label>ID: </label></td>
            <td><label>
                    <input type="text" name="ID">
                </label></td>
        </tr>
        <tr>
            <td><label>PW: </label></td>
            <td><label>
                    <input type="text" name="PW">
                </label></td>
        </tr>
        <tr>
            <td><input type="submit" value="로그인" name=""></td>
        </tr>
    </table>
</form>